* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 0.5fr 2fr;
    box-sizing: border-box;
    height: 100vh;
}

aside, main {
    box-sizing: border-box;
    height: 100%;
}

aside {
    background-color: #393b47;
    color: #ffffff;
}

main {
    background-color: #ffffff;
    color: #343434;
    position: relative;
}

.main-content {
    margin-left: 20px;
    margin-top: 20px;
}

.main-content>h1 {
    border: 2px solid #C65D7B;
}

#edit-cv-btn {
    position: fixed;
    background-image: url("../assets/edit-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    bottom: 30px;
    right: 30px;
    background-color: #272731;
    color: #ffffff;
    padding: 25px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#edit-cv-btn:hover{
    background-color: #3a3a44;
}


aside>h1 {
    font-size: 3rem;
}

aside>h2 {
    background-color: #272731;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

aside>h1, aside>h2, aside>b>p, .small-text {
    padding-left: 15px;
}