body {
    background-color: #F6E7D8;
}

input {
    margin: 10px auto;
    border-radius: 5px;
}

button {
    background-color: #C65D7B;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: center;
}

form {
    padding: 20px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #F68989;
}

.education-form, .job-form {
    padding-bottom: 10px;
}

#add-education-form, #add-job-form {
    margin-bottom: 20px;
}